.App{
    color:white;
}
.nav{
    width:100%;
    background:#2c2c2c;
    height:6vh;
    box-shadow: 5px 5px 10px #0000;
}
.wrapper{
    width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}
.logo{
    height:10px;
    width:10px;
    background:black;
}
.links a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.search{
    display:flex;
    align-items: center;
    height:60%;
    width:25%;
}
.search > input{
    height:100%;
    margin-right:5px;
    outline: none;
    width:100%;
    padding:10px;
}

.search > div:hover svg, .search > div:hover{
    background:white;
    fill:black;
}
.movies-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}
.home-section{
    color:white;
    margin-top:0px;
    width:100%;
}
.sec{
    margin-bottom:80px;
    padding:20px;
}
.sec p{
    font-size:30px;
    margin-bottom: 15px;
    font-weight: bold;
}

@media (max-width: 1300px){
   .movies-container{
       grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)) ;
   }
}

@media (max-width: 800px){
    .movies-container{
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr)) ;
    }
    .sec{
        margin-bottom:60px;
    }
    .sec p{
        font-size:24px;
        margin-bottom: 15px;
    }
    .search{
        width:55%;
    }
 }