.nav{
    width:100;
    background:#2c2c2c;
    height:5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    height:90%;
    width:100px;
    background:black;
}
.search{
    display:flex;
    align-items: center;
    height:70%;
}
.search > input{
    height:100%;
    margin-right:5px;
    outline: none;
    width:170px;
    padding:3px;
}
.search > div{
    display: flex;
    align-items: center;
    border:1px solid white;
    padding:2px;
    cursor: pointer;
}
.search svg{
    min-height:100%;
}

.search > div:hover svg, .search > div:hover{
    background:white;
    fill:black;
}
.movies-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}
.home-section{
    color:white;
    padding:20px;
    margin-top:20px;
}
.sec{
    margin-bottom:80px;
}
.sec p{
    font-size:30px;
    margin-bottom: 15px;
}