.movies-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}
.home-section{
    color:white;
    padding:20px;
    margin-top:30px;
}
.sec{
    margin-bottom:80px;
}
.sec p{
    font-size:30px;
}