.Cards{
    height:auto;
    background:#2c2c2c;
    box-shadow: 4px 4px 5px #0000;
}
.movie-image{
    width:100%;
    height:100%;
}
.movie-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100px;
}