.Loading{
    width:185px;
    background:#2c2c2c;
    aspect-ratio:1/1.6;
    min-width: 100%;
    min-height: 100%;
    animation:loading 0.6s alternate infinite;
}

@keyframes loading {
    0%{
        background:#2c2c2c
    }
    100%{
        background:#1c1c1c
    }
}

@media (max-width:1300px){
    .Loading{
        width:120px;
        min-width:100%;
        min-height: 100%;
    }
}
@media (max-width:800px){
    .Loading{
        width:90px;
    }
 
}